body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  background: #ffffff;
  color: #333;
}

h1, h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

p, li {
  font-size: 16px;
  line-height: 1.5;
}

header {
  margin-bottom: 20px;
}

section {
  margin-top: 20px;
}

div li {
  margin-left: 20px;
}
